.ui-content {
    padding: 0;
}

.ui-mobile label {
    font-weight: bold;
}

div#canvasHolder {
    overflow-y: hidden;
}

a#controlIcon {
    position: fixed;
    bottom: 0;
    right: 0;
}

h1 {
    font-family: "Playball", cursive;
    text-align: center;
    font-size: 48px;
    margin-bottom: 20px;
}

h1 a:link,
h1 a:visited,
h1 a:hover,
h1 a:active {
    color: #000000;
    text-decoration: none;
    font-weight: normal;
}

div#buttons {
    text-align: center;
    margin-top: 40px;
}
